<!DOCTYPE html>

<html lang="en" ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trab1 Ger. Redes</title>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="app.js"></script>
    <script src="panel/panel.directive.js"></script>

</head>
<body ng-controller="AppController as ctrl">

<div class="container">

    <div class="well">
        <div ng-hide="connected">
            <input type="text" ng-model="hostAddress"/>
            <button ng-click="connect()">Conectar</button>
        </div>


        <bootstrap-panel class="row" ng-show="connected" title="Dados" type="primary">
            <div class="data-block col-md-3">
                <span>Usuario: {{findValue(SYSTEM_OIDS.USERNAME)}}</span>
                <span>Localização: {{findValue(SYSTEM_OIDS.LOCATION)}}</span>
                <span>UpTime: {{findValue(SYSTEM_OIDS.SYSUPTIME) / 100 / 60}} minutos</span>
            </div>
        </bootstrap-panel>
    </div>



</div>


</body>
</html>